/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* Main Nav */
#mainnav .input-group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

#mainnav .input-group .btn:hover {
    background-color: #e3e3e3 !important; /* Background color on hover */
}

/* Sub Nav */
#subnav .nav-link {
    position: relative;
}

#subnav .nav-link.active::after {
    content: '';
    display: block;
    width: 84px;
    height: 6px;
    opacity: 50%;
    background-color: white; /* You can change the color as needed */
    position: absolute;
    bottom: -8px; /* Adjust this value if you need more spacing */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px 4px 0px 0px;
}

.btn-icon-follow {
    width: 58px;
    height: 58px;
    border: 2px solid #EBEBEB;
    background-color: transparent;
    margin-right: 10px;
}

.btn-icon-follow i {
    font-size: 24px;
    color: #1D7816; /* Warna ikon bisa disesuaikan */
}

.shadow:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.193) !important; /* Shadow properties for shadow-lg */
    transition: box-shadow 0.3s ease; /* Optional: Add transition for smooth effect */
}

.shadow-sm:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.074) !important; /* Shadow properties for shadow-lg */
    transition: box-shadow 0.3s ease; /* Optional: Add transition for smooth effect */
}

.pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .page-item.circle .page-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pagination .page-item {
    margin-right: 10px;
}

.pagination .page-item.pill .page-link {
  border-radius: 50px;
}

.password-container {
    position: relative;
}
.password-container input {
    width: 100%;
    padding-right: 40px;
}
.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-check-input {
    transform: scale(1.5); /* Mengatur skala checkbox */
    margin-right: 10px; /* Mengatur jarak antara checkbox dan label */
}

.form-check-input:checked {
    background-color: #198754; /* Warna hijau success */
    border-color: #198754; /* Warna border hijau success */
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); /* Shadow hijau saat focus */
}

.table > :not(caption) > * > * {
    background-color: transparent !important;
}